@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  outline: 1px solid red;
}
body {
  background: url(./sky.jpg ) no-repeat center center fixed;
  background-size: cover;
}
.app {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
}

.percentage-container {
  height: 20px;
  width: 80%;
  background-color: #e0e0de;
  border-radius: 50px;
}

.filler {
  height: 100%;
  border-radius: inherit;
  text-align: right;
}

.search-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.search-input {
  height: 10%;
  background-color: #3e3b51;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#site-search {
  height: 60%;
  width: 70%;
  padding-left: 3%;
}

.weather-info {
  height: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.current-day-info {
  height: 20%;
  display: flex;
  color: white;
  justify-content: center;
  flex-direction: column;
}
.weather-icon-container,
.temperature-display,
.condition-display {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-img {
  height: 200px;
  width: 200px;
}
.forecast-section {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.unit-toggle-container {
  height: 20%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3%;
  align-items: flex-end;
}
.forecast-container {
  height: 80%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
}
.highlights-section {
  height: 60%;
  display: flex;
  /* background-color: aquamarine; */
  background-color: #24142c;
  flex-direction: column;
}
.highlights-header {
  height: 15%;
  background-color: #24142c;
  text-align: center;
  color: white;
  margin-left: 7%;
  margin-right: 7%;
}
.highlights-body {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}
.credits-section {
  height: 15%;
  
  color: white;
}

.city-list {
  background: #3e3b51;
  overflow: auto;
  border-collapse: inherit;
  position: fixed;
  top: 10vh;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 30%;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.city-item {
  cursor: pointer;
  padding: 5% 0 5% 3%;
  width: 80%;
  color: white;
  display: flex;
  margin: 5% 7%;
}
.city-item:hover {
  border: 1px solid white;
}
.location-search-icon {
  cursor: pointer;
}
.forecast-card {
  width: 15%;
  height: 75%;
  background-color: #3e3b51;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.highlight-card {
  width: 40%;
  height: 40%;
  background-color: #3e3b51;
  color: white;
}
.highlight-card > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.humidity-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.humidity-bar > div {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-evenly;
}
.highlight-title,
.highligh-value {
  margin: unset;
}

.day-date {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.location-info {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forecast-icon {
  height: 100px;
  width: 100px;
}
.forecast-temp {
  font-size: 13px;
}

div > .city-list {
  z-index: 100;
}

.wind-compass {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
}

.wind-direction > svg {
  transform-origin: 0.4375em 0.5em;
  background: white;
  color: #24142c;
  border: #24142c;
  padding: 3%;
  border-radius: 50%;
}
