@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

* {
  outline: 1px solid red;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: url(./sky.jpg) no-repeat center center fixed;
  background-size: cover;
}

.app {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

main {
  height: 90%;
  display: flex;
  padding: 20px;
  gap: 20px;
}

footer {
  background: white;
  padding: 10px;
  margin-top: 10%;
}

.percentage-container {
  height: 20px;
  width: 80%;
  background-color: #e0e0de;
  border-radius: 50px;
  margin: 10px auto;
}

.filler {
  height: 100%;
  border-radius: inherit;
  text-align: right;
}

.search-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative
}

.search-input {
  height: 10%;
  background-color: #3e3b51;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

#site-search {
  height: 60%;
  width: 70%;
  padding: 5px;
}

.weather-info {
  height: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.city-list {
  position: absolute;
  top: 2.4rem;
  width: calc(70% - 15px);
  overflow: auto;
  max-height: 27.3rem;
  background-color: white;
}
.city-item{
  padding: 0.5rem;
  text-align: start;
  width: 100%;
  white-space: nowrap;
}

.forecast-section {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.unit-toggle-container {
  height: 20%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
}

.forecast-container {
  height: 80%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.highlights-section {
  height: 60%;
  display: flex;
  background-color: #24142c;
  flex-direction: column;
  padding: 15px;
}

.highlights-header {
  height: 15%;
  background-color: #24142c;
  text-align: center;
  color: white;
  margin: 0 auto 10px;
  padding: 10px;
}

.highlights-body {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.forecast-card {
  width: 15%;
  height: 75%;
  background-color: #3e3b51;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.highlight-card {
  width: 40%;
  height: 40%;
  background-color: #3e3b51;
  color: white;
  padding: 15px;
}

.humidity-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/***** MEDIA QUERIES *****/

@media (min-width: 320px) {
  /* Styles for 320px and above */
}
@media (min-width: 375px) {
  /* Styles for 375px and above */
}
@media (min-width: 425px) {
  /* Styles for 425px and above */
}
@media (min-width: 576px) {
  /* Styles for 576px and above */
}
@media (min-width: 768px) {
  /* Styles for 768px and above */
}
@media (min-width: 992px) {
  /* Styles for 992px and above */
}
@media (min-width: 993px){
  /* Styles for 993px and 1023px */
  .city-list {
    top: 2.7rem;
    width: calc(70% - 21px);
  }

}
@media (min-width: 1024px) {
  /* Styles for 1024px and above */
}
@media (min-width: 1200px) {
  /* Styles for 1200px and above */
}
@media (min-width: 1440px) {
  /* Styles for 1440px and above */
}
@media screen and (max-width: 992px) {
  main {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .search-container,
  .forecast-section {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .forecast-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
  }
  .forecast-card,
  .highlight-card {
    width: 90%;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
  }
  .weather-img {
    height: 150px;
    width: 150px;
  }
}
